<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Registro de Publicaciones-Servicios</div>
        <button mat-icon-button (click)="saveAndClose()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>

    </div>
    <div role="alert" *ngIf="banLimitPost" class="absolute top-16 z-10" style="right: 45%;">
        <div class="bg-red-500 text-white font-bold rounded-t px-2 py-2 text-center">
            <h1>{{titleAlert}}</h1>
        </div>
        <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700 ">
            <p [innerHTML]="bodyAlert"></p>
        </div>
    </div>
    <!-- Compose form -->
    <form class="flex flex-col flex-auto p-1 sm:p-8 overflow-y-auto" [formGroup]="selectedPublicacionServicioForm"
        #modalProductoNgForm="ngForm">
        <div class="flex flex-col sm:flex-row p-8">

            <!-- Product images and status -->
            <div class="flex flex-col items-center sm:items-start mb-8 sm:mb-0">

            </div>

            <div class="flex flex-auto flex-wrap">


                <!-- Name, SKU & etc. -->
                <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                    <div class="p-8">
                        <label class="block text-lg font-semibold mb-2" style="text-align: center;">Subir
                            Imágenes</label>
                        <div class="border-dashed border-2 border-gray-300 p-8 rounded-lg text-center cursor-pointer hover:border-blue-500 transition duration-300 ease-in-out"
                            (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)"
                            (click)="fileInput.click()">
                            <input type="file" multiple (change)="onFileSelected($event)" accept="image/*" #fileInput
                                class="hidden">
                            <div class="text-gray-400">
                                <svg class="mx-auto h-12 w-12" fill="none" stroke="currentColor" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
                                    <path d="M12 4v16m8-8H4"></path>
                                </svg>
                                <p>Arrastra y suelta las imágenes aquí o haz clic para seleccionar.</p>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4 grid grid-cols-2 gap-4">
                        <div *ngFor="let preview of imagePreviews; let i = index" class="relative">
                            <img [src]="preview" alt="Uploaded Photo" class="w-full h-100 object-cover rounded-lg">
                            <button (click)="removePhoto(i)"
                                class="absolute top-2 right-2 bg-red-500 text-white px-2 py-1 rounded-full">Eliminar</button>
                        </div>
                    </div>


                    <mat-form-field class="w-full">
                        <mat-label>Titulo de publicación</mat-label>
                        <input matInput [formControlName]="'tituloPublicacion'" pattern="[A-Za-z0-9\s]*" />
                        <mat-error
                            *ngIf="selectedPublicacionServicioForm.get('tituloPublicacion').hasError('required')">
                            Este campo es requerido*
                        </mat-error>
                        <mat-error *ngIf="selectedPublicacionServicioForm.get('tituloPublicacion').hasError('pattern')">
                            Título inválido
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <mat-label>Descripción</mat-label>
                        <input placeholder="Ingrese una descripción de su servicio" matInput
                            [formControlName]="'descripcionPublicacion'" />
                        <mat-error
                            *ngIf="selectedPublicacionServicioForm.get('descripcionPublicacion').hasError('pattern')">
                            Descripción inválida
                        </mat-error>
                    </mat-form-field>

                    <!-- Name -->
                    <mat-form-field class="w-full">
                        <mat-label>Nombre del Servicio</mat-label>
                        <input matInput [formControlName]="'nombreServicio'" pattern="[A-Za-z0-9\s]*" />
                        <mat-error *ngIf="selectedPublicacionServicioForm.get('nombreServicio').hasError('required')">
                            Este campo es requerido*
                        </mat-error>
                        <mat-error *ngIf="selectedPublicacionServicioForm.get('nombreServicio').hasError('pattern')">
                            Nombre inválido
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <mat-label>Vendedora</mat-label>
                        <input matInput readonly [formControlName]="'vendedor'" />
                    </mat-form-field>
                </div>

                <!-- Cost, Base price, Tax & Price -->
                <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                    <!-- categoria, Brand & Vendor -->

                    <mat-form-field class="w-3/3 pr-2">
                        <mat-label>Categoría</mat-label>
                        <mat-select [formControlName]="'categoria'">
                            <ng-container *ngFor="let categoria of categoriesServicio">
                                <mat-option [value]="categoria.idCategoriaServicio">
                                    {{categoria.nombreCategoria}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error *ngIf="selectedPublicacionServicioForm.get('categoria').hasError('required')">
                            Este campo es requerido*
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-3/3 pr-2">
                        <mat-label>Tipo</mat-label>
                        <mat-select [formControlName]="'tipos'">
                            <ng-container *ngFor="let tipos of categoriesPublicacion; let i = index">
                                <mat-option [value]="tipos.idCategoria" [disabled]="i !== 1">
                                    {{ tipos.nombreCategoria }}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error *ngIf="selectedPublicacionServicioForm.get('tipos').hasError('required')">
                            Este campo es requerido*
                        </mat-error>
                    </mat-form-field>



                    <div class="flex">

                        <mat-form-field class="w-2/3 pr-2">
                            <mat-label>Stock</mat-label>
                            <input type="number" matInput [formControlName]="'cantidadDisponible'" step="1" min="0" />
                            <mat-error
                                *ngIf="selectedPublicacionServicioForm.get('cantidadDisponible').hasError('positiveInteger')">
                                Stock inválido
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-2/3 pr-2">
                            <mat-label>Tiempo Servicio</mat-label>
                            <span matSuffix>minutos/horas.</span>
                            <input type="text" matInput [formControlName]="'tiempoServicio'" step="1" min="0"/>
                            <mat-error
                                *ngIf="selectedPublicacionServicioForm.get('tiempoServicio').hasError('positiveInteger')">
                                Tiempo inválido
                            </mat-error>
                        </mat-form-field>

                    </div>



                </div>

                <!-- Weight & Tags -->
                <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">

                    <div class="flex">
                        <mat-form-field class="w-2/3 pr-2">
                            <mat-label>Precio desde:</mat-label>
                            <input placeholder="Opcional" type="number" matInput pattern="^[0-9]*\.?[0-9]+$" min="0"
                                [formControlName]="'precioInicialServicio'">
                            <mat-error
                                *ngIf="selectedPublicacionServicioForm.get('precioInicialServicio').hasError('positiveNumber') || (!selectedPublicacionServicioForm.get('precioInicialServicio').hasError('pattern'))">
                                Precio inválido
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-2/3 pl-2">
                            <mat-label>Precio hasta:</mat-label>
                            <input placeholder="Opcional" type="number" matInput
                                [formControlName]="'precioFinalServicio'"
                                pattern="^[0-9]*\.?[0-9]+$" min="0">
                            <mat-error
                                *ngIf="selectedPublicacionServicioForm.get('precioFinalServicio').hasError('positiveNumber') || (!selectedPublicacionServicioForm.get('precioFinalServicio').hasError('pattern'))">
                                Precio inválido
                            </mat-error>
                        </mat-form-field>
                    </div>


                    <mat-form-field class="w-3/3 pr-2">
                        <mat-label>Precio</mat-label>
                        <span matSuffix>$</span>
                        <input type="number" matInput [formControlName]="'precioFijoServicio'" pattern="^[0-9]*\.?[0-9]+$" min="0"/>
                        <mat-error
                            *ngIf="selectedPublicacionServicioForm.get('precioFijoServicio').hasError('required')">
                            Este campo es requerido*
                        </mat-error>
                        <mat-error
                            *ngIf="selectedPublicacionServicioForm.get('precioFijoServicio').hasError('positiveNumber') || (selectedPublicacionServicioForm.get('precioFijoServicio').hasError('pattern') && selectedPublicacionServicioForm.get('precioFijoServicio').dirty)">
                            Precio inválido
                        </mat-error>
                    </mat-form-field>




                    <span class="font-semibold mb-2">Estado del servicio</span>
                    <br>
                    <mat-slide-toggle [formControlName]="'estado'" [color]="'primary'">
                        {{
                        selectedPublicacionServicioForm.get("estado").value === true
                        ? "Active"
                        : "Disabled"
                        }}
                    </mat-slide-toggle>

                </div>
            </div>
        </div>







        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
            <div class="-ml-2"></div>

            <div class="flex items-center justify-between w-full border-t px-8 py-4">
                <!-- Discard -->
                <button id="datos" class="ml-auto sm:ml-0" mat-stroked-button (click)="discard()">
                    Cancelar
                </button>

                <div class="flex items-center">
                    <div class="flex items-center mr-4" *ngIf="flashMessage">
                        <ng-container *ngIf="flashMessage === 'success'">
                            <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                            <span class="ml-2">Registro Exitoso</span>
                        </ng-container>
                        <ng-container *ngIf="flashMessage === 'error'">
                            <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                            <span class="ml-2">A ocurrido un error! Intentalo nuevamente</span>
                        </ng-container>
                    </div>
                    <!-- Send -->
                    <button class="order-first sm:order-last" mat-flat-button [color]="'primary'"
                        (click)="verifyLimtiPost()">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>