<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Bienvenido</div>
        <button mat-icon-button (click)="saveAndClose()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <!-- Content -->
    <div class="flex-1 p-6 sm:p-8 bg-white">
        <div class="text-center mb-6">
            <img src="assets/images/logo/avanzar.png" alt="Logo de la Empresa" class="w-50 mx-auto mb-4  object-cover" />
            <h2 class="text-2xl font-semibold mb-4">¡Bienvenido!</h2>
            <p class="text-gray-600">
                Para conocer y adquirir nuestros productos y servicios, por favor, regístrate en nuestro sitio.
            </p>
        </div>
        <div class="text-center">
            <a mat-button color="primary" (click)="saveAndClose()" [routerLink]="'/sign-up'">Registrarse</a>
            <p class="text-gray-500 mt-2">¿Ya tienes una cuenta? <a (click)="saveAndClose()" [routerLink]="'/sign-in'" class="text-primary">Inicia sesión</a></p>
        </div>
    </div>
</div>
