<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden">

    <!-- Header & Cards -->
    <div class="relative pt-8 pb-12 sm:pt-20 sm:pb-24 px-6 sm:px-16 overflow-hidden">
        <!-- Background - @formatter:off -->
        <svg class="-z-1 absolute inset-0"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="opacity-40 text-gray-200 dark:text-gray-800" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- @formatter:on -->
        <!-- Header -->
        <div class="flex flex-col items-center">
            <h2 class="text-xl font-semibold">PLANES</h2>
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                Toma el control de tu productividad
            </div>
            <div class="mt-3 sm:text-2xl text-center tracking-tight text-secondary">
                <div class="">Comience poco a poco y gratis, actualice a medida que avanza.</div>
                <div class="">Toma el control de todo.</div>
            </div>
        </div>
        <!-- Cards -->
        <div class="flex justify-center mt-10 sm:mt-20">
            <div class="w-full max-w-sm md:max-w-7xl">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-6 lg:gap-y-0 md:gap-x-6 lg:gap-x-0">
                    <!-- Card 1 -->
                    <fuse-card class="flex-col items-center max-w-sm md:max-w-none lg:my-16 p-8 sm:py-12 sm:px-10 lg:rounded-none lg:rounded-l-2xl text-center">
                        <div class="text-4xl font-bold tracking-tight leading-tight">GRATIS</div>
                        <!-- Price -->
                        <div class="flex items-baseline mt-8 whitespace-nowrap">
                            <div class="text-6xl font-semibold leading-tight tracking-tight">
                                <ng-container *ngIf="yearlyBilling">$0.00</ng-container>
                                
                            </div>
                            <div class="ml-2 text-2xl text-secondary">/ month</div>
                        </div>
                        <!-- Price details 
                        <div class="flex flex-col mt-2 text-secondary">
                            <ng-container *ngIf="yearlyBilling">
                                <div>billed yearly</div>
                                <div><b>$9.00</b> billed monthly</div>
                            </ng-container>
                            
                        </div>-->
                        <!-- Features -->
                        <div class="mt-8 space-y-2">
                            <div class="flex">
                                <mat-icon
                                    class="icon-size-5 text-green-600"
                                    [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                <div class="ml-2 leading-5"><b>3</b> publicaciones</div>
                            </div>
                            <div class="flex">
                                <mat-icon
                                    class="icon-size-5 text-red-600"
                                    [svgIcon]="'heroicons_solid:x-mark'"></mat-icon>
                                <div class="ml-2 leading-5">No incluye cursos</div>
                            </div>
                        </div>
                        <!-- CTA -->
                        <button
                            (click)="openComposeDialog(1)"
                            class="fuse-mat-button-large w-full mt-10"
                            mat-stroked-button
                            [color]="'primary'">
                            Seleccionar plan
                        </button>
                    </fuse-card>
                    <!-- Card 2 -->
                    <fuse-card class="relative flex-col items-center max-w-sm md:max-w-none p-8 sm:py-12 sm:px-10 lg:pb-28 lg:overflow-visible lg:z-99 lg:shadow-2xl text-center">
                        <div class="flex items-center h-8 px-8 rounded-full font-semibold text-center leading-none bg-primary-100 text-on-primary-100">PRÓXIMAMENTE</div>
                        <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">PREMIUM SILVER</div>
                        <!-- Price -->
                        <div class="flex items-baseline mt-8 whitespace-nowrap">
                            <div class="text-6xl font-semibold leading-tight tracking-tight">
                                <ng-container *ngIf="yearlyBilling">$5.00</ng-container>
                                
                            </div>
                            <div class="ml-2 text-2xl text-secondary">/ month</div>
                        </div>
                        <!-- Price details
                        <div class="flex flex-col mt-2 text-secondary">
                            <ng-container *ngIf="yearlyBilling">
                                <div>billed yearly</div>
                                <div><b>$15.00</b> billed monthly</div>
                            </ng-container>
                            
                        </div> -->
                        <!-- Features -->
                        <div class="mt-8 space-y-2">
                            <div class="flex">
                                <mat-icon
                                    class="icon-size-5 text-green-600"
                                    [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                <div class="ml-2 leading-5"><b>*</b> publicaciones</div>
                            </div>
    
                            <div class="flex">
                                <mat-icon
                                    class="icon-size-5 text-green-600"
                                    [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                <div class="ml-2 leading-5">Incluye * curso gratis</div>
                            </div>
                        </div>
                        <!-- CTA -->
                        <button
                            (click)="openComposeDialog(2)"
                            class="fuse-mat-button-large w-full mt-10"
                            mat-flat-button
                            disabled
                            [color]="'primary'">
                            Seleccionar plan
                        </button>
                    </fuse-card>
                    <!-- Card 3 -->
                    <fuse-card class="flex-col items-center max-w-sm md:max-w-none lg:my-16 p-8 sm:py-12 sm:px-10 lg:rounded-none lg:rounded-r-2xl text-center">
                        <div class="text-4xl font-bold tracking-tight leading-tight">PREMIUM GOLD</div>
                        <!-- Price -->
                        <div class="flex items-baseline mt-8 whitespace-nowrap">
                            <div class="text-6xl font-semibold leading-tight tracking-tight">
                                <ng-container *ngIf="yearlyBilling">$10.00</ng-container>
                                
                            </div>
                            <div class="ml-2 text-2xl text-secondary">/ month</div>
                        </div>
                        <!-- Price details 
                        <div class="flex flex-col mt-2 text-secondary">
                            <ng-container *ngIf="yearlyBilling">
                                <div>billed yearly</div>
                                <div><b>$69.00</b> billed monthly</div>
                            </ng-container>
                            
                        </div>-->
                        <!-- Features -->
                        <div class="mt-8 space-y-2">
                            <div class="flex">
                                <mat-icon
                                    class="icon-size-5 text-green-600"
                                    [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                <div class="ml-2 leading-5"><b>12</b> publicaciones</div>
                            </div>
                            
                            <div class="flex">
                                <mat-icon
                                    class="icon-size-5 text-green-600"
                                    [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                <div class="ml-2 leading-5">Incluye 2 cursos gratis</div>
                            </div>
                        </div>
                        <!-- CTA -->
                        <button
                            (click)="openComposeDialog(3)"
                            class="fuse-mat-button-large w-full mt-10"
                            mat-stroked-button
                            [color]="'primary'">
                            Seleccionar plan
                        </button>
                    </fuse-card>
                </div>
            </div>
        </div>
    </div>

    

</div>
