#datos{
    margin-right: 20px;
}


.ancho-personalizado {
    max-width: 800px; 
  }

.image-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px; 
  }
  
  .image-preview img {
    max-width: 100%;
    max-height: 200px; 
    object-fit: cover; 
  }
  
  .image-preview button {
    margin-top: 8px; 
  }
  
  .vendedor-card {
    max-width: 300px; 
    margin: 0 auto; 
  }

  .center-text {
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
  }
  